@model BookGallery.Models.Book

@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = Model.DisplayText;

}


<h1>@Model.Title</h1>
<h2>Author: @Model.Author </h2>
        
<h3>Description:</h3>
<div>@Model.DescriptionHtml</div>


@if (Model.Awards.Length > 0)
{
<h3>Awards:</h3>

<div>
    <ul> 
        @foreach (var a in Model.Awards)
        {
    <li> @a.Name: @a.Year</li>
        }
    </ul>
</div>
}

  